{% extends "ProyectoWebApp/base.html" %}
{% block title %} Contacto {% endblock %}
{% load static %}

{% block content %}
<h1 class="text-center">Contacto</h1>
<div class="contenedorFormulario">

    <!--Recepcionar el return enviado en views redirect-->
    {% if "valido" in request.GET %}
        <p>Informacion enviada correctamente, gracias</p>
    {% endif %}

    <form action="" method="POST" > <!--Enviar por POST URL -> Transparante los datos-->
        {% csrf_token %}
        <table >
        {{miFormulario.as_table}}
        </table>
        <div style="text-align: center;">
            <input type="submit" value="Enviar" class="botonEnviar">
        </div>
    
    </form>

</div>
<!--Para obtener una información previa al enviar por POST
{#request.POST#}-->

{% endblock %}