{% extends "ProyectoWebApp/base.html" %}
{% block title %} Tienda {% endblock %}
{% load static %}

{% block content %}

<h1 class="text-center">Tienda</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4 float-end">
        <button type="button" class="btn btn-dark position-relative float-right">
        <i class='bx bx-cart'></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{cantidad_general}}
        </span>
      </button>
      <p>{% include "carro/widget.html" %}</p>

    </div>
  </div>
</div>
<br>
<div class="container">
<div class="row">
  {% for producto in productos %}
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="background-color: white; margin: 5px;">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{producto.categorias}}</strong>
        <h3 class="mb-0">{{producto.nombre}}</h3>
        <div class="mb-1 text-muted">{{producto.created|date:"SHORT_DATE_FORMAT"}}</div>
        <p class="card-text mb-auto">S/. {{producto.precio|truncatechars:40 }}</p>
        <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-primary"><i class='bx bx-cart' ></i> Add</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        {% if producto.imagen != "" %}
        <img  src="{{producto.imagen}}" width="240" height="250" style="border-radius: 10px; margin-top: 5px; margin-bottom: 5px;" >
        {% endif %}  
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}