<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container-form">
        <h3>Acceder</h3>
        <div class="login-container">
            {% if form.errors %}
                <p>Tu usuario y contraseña no coinciden. Por favor intenta otra vez.</p>
            {% endif %}

            <form action="" method="POST" id="form-login">
                {% csrf_token %}
                <div id="username">
                 {{form.username}}
                </div>
                <div id="password">
                  {{form.password}}
                </div>
                <button id="btn-registrar">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>